#myButton, #voteMore {
  visibility: hidden;
}

.wrap {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
  /*padding: 20px;*/
  max-width: 1000px;
}

#imageContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  padding: 10px;
  margin: 0 auto;
}

#resultsDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 15px;
}

#chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 15px;
}

#paras {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 15px;
}

/* ===========================
  Media Queries
============================= */

@media (min-width: 769px) {
    .container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
      }
      .header {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px;
      }
}
